.blog-header {
  display: flex;
  justify-content: flex-end;
  padding: 13px 22px;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.blog-header__logo {
  margin-right: auto;
  align-self: center;
  font-size: 18px;
  line-height: 28px;
}

.sign-in-btn {
  margin-right: 19px;
}

.button {
  background-color: transparent;
  font-family: inherit;
  border: none;
  font-size: 18px;
  line-height: 28px;
  width: 108px;
  height: 51px;
  text-align: center;
}

.active {
  color: #52c41a;
  border: 1px solid #52c41a;
  border-radius: 5px;
}