.sign-up__username {
  margin-bottom: 12px;
}
.sign-up__email {
  margin-bottom: 12px;
}
.sign-up__repeat-password {
  margin-bottom: 21px;
}

.sign-up__login {
  margin-bottom: 12px;
}

.sign-up__password {
  margin-bottom: 12px;
}
.sign-up__sign-in-link {
  font-size: 12px;
  line-height: 20px;
  display: block;
  text-align: center;
}

.sign-up-link {
  color: #1890ff;
}

.sign-up__agreement {
  min-width: 320px;
  padding-top: 8px;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 21px;
}

.sign-up__agreement-input {
  border: 1px solid #d9d9d9;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: transparent;
  box-sizing: border-box;
  margin-right: 8px;
}

.sign-up__agreement-input:checked {
  background: #1890ff;
}

.sign-up__agreement-label {
  font-size: 14px;
  line-height: 22px;

  display: flex;
  flex-direction: row;
}
