// .sign-up {
//   width: 384px;
//   min-height: 374px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-items: center;
//   padding: 32px;
//   box-sizing: border-box;
//   border: 1px solid #d9d9d9;
//   // box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07),
//   //   0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
//   //   0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
//   //   0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
//   //   0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
//   //   0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
//   border-radius: 6px;
//   margin: 59px auto;
//   box-sizing: content-box;
// }

.sign-up__username {
  margin-bottom: 12px;
}
.sign-up__email {
  margin-bottom: 12px;
}
.sign-up__repeat-password {
  margin-bottom: 21px;
}
// .sign-up__title {
//   margin: 0;
//   font-weight: 500;
//   font-size: 20px;
//   line-height: 28px;
//   margin-bottom: 21px;
// }

.sign-up__login {
  margin-bottom: 12px;
}

.sign-up__password {
  margin-bottom: 12px;
}
.sign-up__sign-in-link {
  font-size: 12px;
  line-height: 20px;
  display: block;
}

.sign-up-link {
  color: #1890ff;
}

.sign-up__agreement {
  min-width: 320px;
  padding-top: 8px;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 21px;
}

.sign-up__agreement-input {
  border: 1px solid #d9d9d9;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: transparent;
  box-sizing: border-box;
  margin-right: 8px;
}

.sign-up__agreement-input:checked {
  background: #1890ff;
}

.sign-up__agreement-label {
  font-size: 14px;
  line-height: 22px;

  display: flex;
  flex-direction: row;
}
