.article-item {
  width: 941px;
  height: 140px;
  background-color: #ffffff;
  padding: 15px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 25px;
}

.article-item__header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.article-item__icon {
}
.article-item__title {
  color: #1890ff;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  margin-right: 13px;
}
.article-item__nickname {
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}
.article-item__tag {
  padding: 3px 6px;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.article-item__article-info {
  display: flex;
  justify-content: space-between;
}
.article-item__date {
  color: rgba(0, 0, 0, 0.5);
}

.article-item__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.article-item__like-btn {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  gap: 5px;
}

.article-item__like-btn-number {
  align-items: center;
}
