.full-page-article {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  width: 941px;
  background-color: #ffffff;
  padding: 19px;
  min-height: 870px;
}

.full-page-article__header {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
}
.full-page-article__title {
  flex-basis: 50%;
  font-size: 20px;
  line-height: 28px;
  color: #1890ff;
  margin: 0;
  margin-bottom: 6px;
  margin-right: 13px;
}

.full-page-article__like-btn {
  background-color: transparent;
  width: 16px;
  height: 13px;
  border: none;
}
.full-page-article__tags {
  margin-bottom: 19px;
}

.full-page-article__article-info {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;
}

.delete-button {
  padding: 6px 19px;
  background-color: transparent;
  color: #f5222d;
  border: 1px solid #f5222d;
  border-radius: 5px;
  margin-left: 12px;
  display: inline-block;
  width: 100px;
  box-sizing: border-box;
  height: 40px;
  text-align: center;
  vertical-align: top;
  font-size: 13px;
}
.edit-button {
  padding: 6px 19px;
  background-color: transparent;
  color: #52c41a;
  border: 1px solid #52c41a;
  border-radius: 5px;
  margin-left: 12px;
  display: inline-block;
  width: 100px;
  box-sizing: border-box;
  height: 40px;
  text-align: center;
  vertical-align: top;
  font-size: 13px;
}
