.not-found-page__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 1200px;
  margin: 40px auto;
}
.not-found-page__second-title {
  font-size: 30px;
}
.not-found-page__main-title {
  margin: 10px;
  font-size: 60px;
}
.not-found-page__image {
  width: 800px;
}
.not-found-page__text {
  font-size: 30px;
}
.not-found-page__link-span {
  font-size: 30px;
}
.not-found-page__link {
     font-size: 35px;

}
