.submit-button {
  width: 320px;
  height: 40px;
  background: #1890ff;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 8px;
  color: #ffffff;
  border-color: #1890ff;
}

.submit-button:disabled {
  background: #86c4fe;
  border-color: #86c4fe;
}
